.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-top: 60px;
  transition: padding-top 0.3s ease-in-out;
}

.navbar-expanded {
  padding-top: 230px; 
}
